body{
    background: #000;
}
body img{
    width:100%;
}
header{
    background: #a68a64;
    display: flex;
    align-items: flex-end;
    
}
.logo{
    width: 50%;
}

.heaNavega{
    width: 40%;
    text-align: right;
}
.logo img{
    width: 30%;
    padding: 18px;
}